<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>成绩分析系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/layui/font/font-awesome/font-awesome.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/css/site.css}" media="all"/>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body class="main_body padding-10">
<div class="layui-container width-full padding-10 bg-white">
    <div class="layui-row margin-bottom-10">
        <div class="layui-col-25percent">
            <button class="layui-btn" type="button" onClick="exportTableData()">
                <i class="icon fa-download" aria-hidden="true"></i> 数据导出Excel
            </button>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md12">
            <input type="hidden" id="grade" th:value="${grade}"/>
            <input type="hidden" id="subject" th:value="${subject}"/>
            <table class="layui-table" id="student_evaluations">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>年级</th>
                    <th>身体素质得分</th>
                    <th>思想素质得分</th>
                    <th>专业成绩得分</th>
                    <th>英语成绩</th>
                    <th>基础得分</th>
                    <th>额外加分</th>
                    <th>综合评分</th>
                    <th>考核结果</th>
                </tr>
                </thead>
                <tbody id="excellent_students">
                <tr v-for="(student, index) in studentList" v-cloak>
                    <td>{{student.stuNo}}</td>
                    <td>{{student.stuName}}</td>
                    <td>{{student.stuGrade}}</td>
                    <td>{{student.physicalScore}}</td>
                    <td>{{student.moralScore}}</td>
                    <td>{{student.majorScore}}</td>
                    <td>{{student.englishScore}}</td>
                    <td>{{student.basicScore}}</td>
                    <td>{{student.extraScore}}</td>
                    <td>{{student.fixScore}}</td>
                    <td>{{student.evaluationResult}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/vue.js}"></script>
<script type="text/javascript" th:src="@{/js/xlsx/xlsx.full.min.js}"></script>
<script type="text/javascript" th:src="@{/js/filesaver/FileSaver.js}"></script>
<script type="text/javascript">
    var studentTable = new Vue({
        el: '#excellent_students',
        data: {
            studentList: []
        }
    });
    layui.use(['form', 'jquery', "layer"], function () {
        var $ = layui.jquery;

        var grade = $("#grade").val();
        var subject = $("#subject").val();
        //获取数据
        var url = '/bua/analysis/evaluations/' + grade + '/' + subject;
        $.get(url, null, function (data) {
            var code = data['code'];
            if (parseInt(code) === 200) {
                var showData = data['data'];
                if (showData && showData.length > 0) {
                    studentTable.$data.studentList = convertShowData(showData);
                }
            }
        });
    });

    function convertShowData(data_list) {
        for (var i = 0; i < data_list.length; i++) {
            var data = data_list[i];
            data['physicalScore'] = getScoreAndLevel(data['physicalScore']);
            data['moralScore'] = getScoreAndLevel(data['moralScore']);
            data['evaluationResult'] = getEvaluationResultText(data['evaluationResult']);
        }
        return data_list;
    }

    function getScoreAndLevel(score) {
        score = parseInt(score);
        var result = score + "(";
        if (score >= 85) {
            result += "优秀";
        } else if (score >= 75) {
            result += "良好";
        } else if (score >= 60) {
            result += "合格";
        } else {
            result += "不合格";
        }
        result += ")";
        return result;
    }

    function getEvaluationResultText(level) {
        var result = '';
        switch (level) {
            case('A'):
                result = '三好学生';
                break;
            case('B'):
                result = '优秀班干部';
                break;
            case('W0'):
                result = '特等奖学金';
                break;
            case('W1'):
                result = '一等奖学金';
                break;
            case('W2'):
                result = '二等奖学金';
                break;
            case('W3'):
                result = '三等奖学金';
                break;
            default:
                break;
        }
        return result;
    }

    function exportTableData() {
        var workbook = XLSX.utils.table_to_book(document.getElementById('student_evaluations'));
        var wopts = {bookType: 'xlsx', bookSST: false, type: 'array'};
        var wbout = XLSX.write(workbook, wopts);
        saveAs(new Blob([wbout],{type:"application/octet-stream"}), getFileName());
    }

    function getFileName(){
        var grade = document.getElementById('grade').value;
        var subject = document.getElementById('subject').value;
        var file_name = "";
        switch (grade) {
            case('2'):
                file_name += "二年级";
                break;
            case('3'):
                file_name += "三年级";
                break;
            case('4'):
                file_name += "四年级";
                break;
            default:
                break;
        }
        switch (subject) {
            case('A'):
                file_name += '_三好学生';
                break;
            case('B'):
                file_name += '_优秀班干部';
                break;
            case('W'):
                file_name += '_奖学金';
                break;
            default:
                file_name += 'file';
                break;
        }
        file_name += '.xlsx';
        return file_name;
    }
</script>
</body>
</html>