<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>成绩分析系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/layui/font/font-awesome/font-awesome.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/css/site.css}" media="all"/>
    <style>
        .layui-col-25percent{
            position: relative;
            display: block;
            box-sizing: border-box;
            float: left;
            margin-right: 20px;
            width: calc(25% - 15px);
        }
        .layui-col-25percent button.layui-btn{
            width: 100%;
        }
    </style>
</head>
<body class="main_body padding-10">
<div class="layui-container width-full padding-10 bg-white">
    <div class="layui-row margin-bottom-10">
        <div class="layui-col-25percent">
            <button class="layui-btn" type="button" id="major1_upload">
                <i class="icon fa-graduation-cap" aria-hidden="true"></i> 学科成绩(上学期)
            </button>
        </div>
        <div class="layui-col-25percent">
            <button class="layui-btn" type="button" id="major2_upload">
                <i class="icon fa-graduation-cap" aria-hidden="true"></i> 学科成绩(下学期)
            </button>
        </div>
        <div class="layui-col-25percent">
            <button class="layui-btn" type="button" id="moral1_upload">
                <i class="icon fa-leaf" aria-hidden="true"></i> 思想素质(上学期)
            </button>
        </div>
        <div class="layui-col-25percent" style="margin-right: 0;">
            <button class="layui-btn" type="button" id="moral2_upload">
                <i class="icon fa-leaf" aria-hidden="true"></i> 思想素质(下学期)
            </button>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-25percent">
            <button class="layui-btn" type="button" id="english_upload">
                <i class="icon fa-globe" aria-hidden="true"></i> 英语成绩
            </button>
        </div>

        <div class="layui-col-25percent">
            <button class="layui-btn" type="button" id="physical_upload">
                <i class="icon fa-heartbeat" aria-hidden="true"></i> 身体素质
            </button>
        </div>
        <div class="layui-col-25percent">
            <button class="layui-btn" type="button" id="extra_upload">
                <i class="icon fa-plus-square" aria-hidden="true"></i> 额外加分
            </button>
        </div>
        <div class="layui-col-25percent" style="margin-right: 0;">
            <button class="layui-btn" type="button" id="cadre_upload">
                <i class="icon fa-user-md" aria-hidden="true"></i> 班级干部
            </button>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md12">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>年级</th>
                    <th>专业</th>
                    <th>学科成绩</th>
                    <th>身体素质</th>
                    <th>思想素质</th>
                    <th>英语成绩</th>
                    <th>额外加分</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student, stuStat: ${students}">
                    <td th:text="${student.stuNo}"></td>
                    <td th:text="${student.stuName}"></td>
                    <td th:text="${student.stuGrade}"></td>
                    <td th:switch="${student.major}">
                        <span th:case="'2013'">生物技术</span>
                        <span th:case="'2014'">生物工程</span>
                        <span th:case="'2015'">应用化学</span>
                        <span th:case="'*'" th:text="${student.major}"></span>
                    </td>
                    <td th:text="${student.majorScore}"></td>
                    <td>
                        <span th:text="${student.physicalScore}"></span>(
                        <span th:if="${student.physicalScore>=85}" th:text="优秀"></span>
                        <span th:if="${student.physicalScore>=75&&student.physicalScore<85}" th:text="良好"></span>
                        <span th:if="${student.physicalScore>=60&&student.physicalScore<75}" th:text="合格"></span>
                        <span th:if="${student.physicalScore<60}" th:text="不合格"></span>)
                    </td>
                    <td>
                        <span th:text="${student.moralScore}"></span>(
                        <span th:if="${student.moralScore>=85}" th:text="优秀"></span>
                        <span th:if="${student.moralScore>=75&&student.moralScore<85}" th:text="良好"></span>
                        <span th:if="${student.moralScore>=60&&student.moralScore<75}" th:text="合格"></span>
                        <span th:if="${student.moralScore<60}" th:text="不合格"></span>)
                    </td>
                    <!-- 英语成绩转换 -->
                    <td th:text="${student.englishScore}"></td>
                    <td th:text="${student.extraScore}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script>
    layui.use('upload', function () {
        var upload = layui.upload;

        var options = {
            elem: '',
            url: '',
            field: 'file',
            accept: 'file',
            exts: 'xls|xlsx',
            multiple: false,
            done: function (res) {
                window.location.reload();
            },
            error: function () {
                layer.msg('文件上传失败');
            }
        };
        // 定义示例
        // majoy
        options['elem'] = '#major1_upload';
        options['url'] = '/bua/analysis/upload/major1';
        upload.render(options);

        options['elem'] = '#major2_upload';
        options['url'] = '/bua/analysis/upload/major2';
        upload.render(options);
        // moral
        options['elem'] = '#moral1_upload';
        options['url'] = '/bua/analysis/upload/moral1';
        upload.render(options);

        options['elem'] = '#moral2_upload';
        options['url'] = '/bua/analysis/upload/moral2';
        upload.render(options);

        // english
        options['elem'] = '#english_upload';
        options['url'] = '/bua/analysis/upload/english';
        upload.render(options);

        // physical
        options['elem'] = '#physical_upload';
        options['url'] = '/bua/analysis/upload/physical';
        upload.render(options);

        // extra
        options['elem'] = '#extra_upload';
        options['url'] = '/bua/analysis/upload/extra';
        upload.render(options);

        // extra
        options['elem'] = '#cadre_upload';
        options['url'] = '/bua/analysis/upload/cadre';
        upload.render(options);

    });
</script>
</body>
</html>