<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>成绩分析系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/css/site.css}" media="all"/>
</head>
<body class="main_body padding-10">
<div class="layui-container width-full padding-10 bg-white">
    <div class="layui-row">
        <div class="layui-col-md12">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>年级</th>
                    <th>专业</th>
                    <th>学生互评得分</th>
                    <th>教师评分</th>
                    <th>宿舍表现分</th>
                    <th>加权分</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="moral, stuStat: ${moralList}">
                    <td th:text="${moral.stuNo}"></td>
                    <td th:text="${moral.student.name}"></td>
                    <td th:switch="${moral.student.major}">
                        <span th:case="'2013'">生物技术</span>
                        <span th:case="'2014'">生物工程</span>
                        <span th:case="'2015'">应用化学</span>
                        <span th:case="'*'" th:text="${moral.student.major}"></span>
                    </td>
                    <td th:text="${moral.student.major}"></td>
                    <td>
                        <span th:text="${moral.mateScore}"></span>(
                        <span th:if="${moral.mateScore>=85}" th:text="优秀"></span>
                        <span th:if="${moral.mateScore>=75&&moral.mateScore<85}" th:text="良好"></span>
                        <span th:if="${moral.mateScore>=60&&moral.mateScore<75}" th:text="合格"></span>
                        <span th:if="${moral.mateScore<60}" th:text="不合格"></span>)
                    </td>
                    <td>
                        <span th:text="${moral.teacherScore}"></span>(
                        <span th:if="${moral.teacherScore>=85}" th:text="优秀"></span>
                        <span th:if="${moral.teacherScore>=75&&moral.teacherScore<85}" th:text="良好"></span>
                        <span th:if="${moral.teacherScore>=60&&moral.teacherScore<75}" th:text="合格"></span>
                        <span th:if="${moral.teacherScore<60}" th:text="不合格"></span>)
                    </td>
                    <td>
                        <span th:text="${moral.dormScore}"></span>(
                        <span th:if="${moral.dormScore>=85}" th:text="优秀"></span>
                        <span th:if="${moral.dormScore>=75&&moral.dormScore<85}" th:text="良好"></span>
                        <span th:if="${moral.dormScore>=60&&moral.dormScore<75}" th:text="合格"></span>
                        <span th:if="${moral.dormScore<60}" th:text="不合格"></span>)
                    </td>
                    <td>
                        <span th:text="${moral.fixScore}"></span>(
                        <span th:if="${moral.fixScore>=85}" th:text="优秀"></span>
                        <span th:if="${moral.fixScore>=75&&moral.fixScore<85}" th:text="良好"></span>
                        <span th:if="${moral.fixScore>=60&&moral.fixScore<75}" th:text="合格"></span>
                        <span th:if="${moral.fixScore<60}" th:text="不合格"></span>)
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
</body>
</html>