<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>成绩分析系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/css/site.css}" media="all"/>
</head>
<body class="main_body padding-10">
<div class="layui-container width-full padding-10 bg-white">
    <div class="layui-row">
        <div class="layui-col-md12">
            <button class="layui-btn" type="button" id="file_upload">
                <i class="layui-icon">&#xe609;</i> 文件导入
            </button>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md12">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>学号</th>
                    <th>体育成绩</th>
                    <th>体测成绩</th>
                    <th>额外加分</th>
                    <th>加权平均分</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="physical, stuStat: ${physicalList}">
                    <td th:text="${physical.stuNo}"></td>
                    <td th:text="${physical.cultureScore}"></td>
                    <td th:text="${physical.trainingScore}"></td>
                    <td th:text="${physical.additionalPlus}"></td>
                    <td th:text="${physical.fixScore}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script>
    layui.use('upload', function () {
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#file_upload',
            url: '/bua/analysis/upload/physical',
            field: 'file',
            accept: 'file',
            exts: 'xls|xlsx',
            multiple: false,
            done: function (res) {
                window.location.reload();
            },
            error: function () {
                layer.msg('文件上传失败');
            }
        });
    });
</script>
</body>
</html>